h3{
    color: cadetblue;
}
h3:hover{
 color: blue;
 font-size: larger;
} 
input:focus{

font-weight: 700;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color:chocolate
}
a:visited{
    color: blueviolet;
    font-style: italic;
    font-size: x-large;
}
li:last-child{
    color: rgb(143, 106, 13);
    font-style: oblique;
}
li:nth-child(2n){
    color:brown;
    font-size: x-large;

}
li:nth-child(2n+1){
    color:coral;
    font-size: x-large;
}


.ring{
    position:sticky
    top: 30px;
    bottom: 37px;
    z-index: 4;
}.boy{
    position:sticky;
    bottom: 40px;
    z-index: 10;
    
}.water{
    position: sticky; display: flex;
    justify-content: center;
}
    bottom: 33px;
    top: 31px;
.swim container{
    position: relative;

} .container1{
    border: 2px solid salmon;
    display: flex;
    justify-content: center;

}
.box{
    border: 2px dashed black;
    height: 50px;
    width: 50px;
}